---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="My Story | Hearts 2025/26">
  <section class="hero">
    <img class="hero-badge" src="/favicon.png" alt="" />

    <div class="hero-inner">
      <div class="hero-topline">
        <a href="/" class="hero-nav-link">← Home</a>
        <div>Heart of Midlothian • 2025/26</div>
      </div>

      <h1>My Story</h1>
      <h2>The self indulgent ramblings of an armchair fan in Dunblane.</h2>
      <h2>From the pain of '86 to the pride of '26.</h2>
      <h2>This is my story...</h2>

      <div class="stats">
        <a class="stat position-stat" href="#early-years">
          The<strong>Early Years</strong>
        </a>
        <a class="stat position-stat" href="#the-season">
          The<strong>Season</strong>
        </a>
        <a class="stat position-stat" href="#the-future">
          The<strong>Future</strong>
        </a>
      </div>
    </div>
  </section>

  <main class="shell">
    <section id="early-years" class="match-section">
      <article class="panel story-panel" style="line-height:1.7">
        <button class="story-disclaimer" type="button" aria-expanded="false">
          <span class="story-panel-title">The Early Years</span>
          <span></span>
          <span class="story-warning">
            This section is hidden by default due to danger of extreme boredom.<br
            />
            Click this banner to continue at your own risk. You have been warned...
          </span>
        </button>

        <div class="story-content">
          <p>
            Honestly, skip this bit if you're only interested in the fitba. This
            is my own story about me and my journey during the 2025/26 season -
            I need to heal, so I'm gonna be indulgent and start from the
            beginning.
          </p>

          <p>
            One of my first memories was when a boy called Gav joined my class
            in Primary Two and asked me what football team I supported. My dad
            was (and still is) a rugby man, so I don't think I'd ever really
            thought about it. I said I was a Hibs fan - he said Hibs were crap
            and I should be a Hearts fan. It was Corstorphine —
            <i
              >well, Carrick Knowe actually, I'm just trying to posh myself up
              here</i
            > — so it made sense. It was closer to Tynecastle. From then on, I was
            a Jambo.
          </p>

          <p>
            Having an egg-chaser as a dad, I didn't get to many games. My family
            were big into the church and Scouting, so every weekend was either a
            jumble sale, a church fair or putting camping equipment in the attic
            of the Scout hall. And given it was Thatcher's Scotland and my folks
            didn't have two pennies to rub together, the chances of me visiting
            Tynecastle were fairly limited. However, a man called Derek, who
            later became my scout leader, took me to a few games. I remember a
            Dumbarton game, a Motherwell game, and I was even there when PSG
            came to Tynecastle and we came away with a 2–2 draw.
          </p>

          <p>
            Then came '86. Those who remember it will sympathise with a
            ten-year-old boy sitting watching Ceefax and listening to Radio
            Scotland, seeing the images on the news of grown men greetin' their
            eyes out and throwing things at that moustachioed, curly-haired
            twat, albert kidd (sorry for even mentioning his name). It was a
            horrible time, and it has lived with me till this day - my poor
            family, friends, and colleagues will attest to how much affected me,
            even 40 years later
          </p>

          <p>
            Primary school — and Gav — came and went. High school beckoned. A
            new best pal, Derek (not my scout leader), and even more Jambos at
            Forrester High School. Still no money, and as it was the 80s, live
            football was seriously limited. For years, everything was Hearts —
            Hearts bedsheets, Hearts wallpaper, Hearts annuals. I was Hearts
            daft. I lived round the corner from Neil Berry and saw him
            regularly. Posters of Robbo and Gary Mackay on every wall. We've all
            been there, and I wouldn't change it for anything.
          </p>

          <p>
            After high school, I left Edinburgh for Aberdeen and university. I
            left Derek in Edinburgh, working in the bank, with his season ticket
            at Tynecastle. I got right into booze and drugs (and subsequently
            got kicked out of uni, and then college), and the hero worshipping
            of the boys in maroon started to fade for a while. Living with
            Rangers fans during the 9 in a row era was tough - they were never
            (and still aren't) the most gracious of winners - but still listend
            on the radio and watched on the telly, but let's be honest — my mind
            was elsewehere.
          </p>

          <p>
            I left Aberdeen seven years later with my Aberdeen supporting
            girlfriend (later becoming wife) and ended up back in Edinburgh.
            When Derek couldn't go to the fitba, I'd get his ticket, so I saw a
            good few games. He sat with his pal Rab where the "ultras" bang
            their drums now. Had a bit more cash, so got to a few more games -
            but working in retail meant Saturdays were for work, not fitba. But
            Saw Barcelona at Tynecastle. Saw Bayern at Pittodrie on Valentine's
            Day. We all remember the Romanov era - it was a rollercoaster (think
            Codona's rather than Alton Towers), and thank Christ it's over. But
            thanks to some amazing people, we came out the other side and we all
            owe them a great deal that out club is in the position it is now.
            Ann Budge came into my kilt shop and I ended up getting involved in
            the new Hearts tartan. Ended up doing a photoshoot with John Souttar
            and Don Cowie and met loads of Jambo legends, including Craig Levein
            and Gary Locke. It was a great time.
          </p>

          <p>
            I ended up in Lintlithgow watching games in the Star & Garter with
            Derek, before moving up to Dunblane, where I now call home. A few
            years later, Derek retired, moved away up north, and gave up his
            season ticket. It was tough to see him go, but we still communicate
            one way or another nearly every day, so although I don't see him
            much, he is still up there as the most important person in my life
            that I haven't fathered or slept with.
          </p>

          <p>
            Although I work in Glasgow, in the shadow of the union flags of the
            bristol bar, and a stone's throw from cellic park, I am lucky enough
            to work with one of my pals, Calum. A fellow Jambo, we met at
            university, drifted apart for a few years before he joined my
            company just before Covid. He is annoyingly optimistic about almost
            everything, but he is fair and level headed when it comes to fitba.
            The eternal fence sitter when predicting scores, he keeps me
            grounded and we talk football every day. When surrounded by green
            and blue, I urge everyone to get a Calum.
          </p>

          <p>
            After many years of battling with stuttering illegal streams, or
            being in the pub when I should be spending quality time at home with
            my family, it all of a sudden became a lot easier to watch a lot of
            football at home, and at the same time screw over the TV companies
            that have helped increase the gap between the old firm and the rest
            of the league. So I was now able to see a lot more fitba, while
            partaking in my vices, and that brings us nicely to season 2024/25.
          </p>

          <p>
            The 2024/25 season was, in a word, grim. From the very start there
            was a feeling that something wasn't right — no identity, no
            consistency, no fight, and absolutely no enjoyment in watching us.
            Performances drifted between boring and embarrassing, Tynecastle
            became flat and frustrated, and every tiny bit of optimism was
            quickly beaten out of the support. Critchley somehow managed to make
            a Hearts team with decent players look utterly lifeless, which takes
            some doing considering some of the managers we've survived over the
            years - I mean, it was no Cathro, but not far off. By the end, I
            think everyone was just exhausted.
          </p>

          <p>
            But when the new season beckoned, McInnes joined, and against all
            odds retained Shankland's services, it felt different...
          </p>
        </div>
      </article>
    </section>

    <section id="the-season" class="match-section">
      <article class="panel" style="line-height:1.7">
        <div class="section-heading">
          <span>The Season</span>
        </div>
        <p>
          If you're just starting from here, I'd say you've missed nothing — but
          if you'd like to read a few paragraphs about a daft big lad from
          Corstorphine, click the link above for a bit of a laugh.
        </p>

        <p>
          2025/26 felt special from the word go. We had a manager I'd admired
          for years. My wife is an Aberdeen fan, so I'd watched a lot of
          Aberdeen games, and we all know what he did for them. Challenging
          (kinda) Celtic a couple of times, winning a couple of trophies — we
          all knew he was capable. He just needed a wee bit of cash and a wee
          bit of support.
        </p>

        <p>
          Persuading Shanks to stay was massive, and after the four League Cup
          games and the opening victory against Aberdeen, I felt he was the man
          for me, and after last year, finishing above the wee team, as ever,
          was the priority. And it looked very doable.
        </p>

        <p>
          <strong>August</strong> was crazy. Findlay's starring role and injury-time
          winner against United showed a resilience that had been missing from our
          team for a long time. While the 3–3 draw against Motherwell showed there
          was still a lot of work to do, it also showed us that McInnes was capable
          of changing things mid-game and making a difference. The away victory at
          Livingston was much the same — slow start, make changes, rescue the three
          points with seconds to spare. As we all know, this would become our MO throughout
          the season, but coming away from the plastic pitch with three points was
          always the priority. The penalties defeat against St Mirren was a disappointment,
          but let's be honest — it was the diddy cup. And as good as a wee cup run
          is, my thoughts were well and truly on the league campaign.
        </p>

        <p>
          <strong>September</strong> only brought two games due to pesky World Cup
          qualifiers. But two great games they were. First up: Russell Martin's Rangers.
          Currently winless, I expected the usual collapse against them. But thanks
          to one of many truly terrible refereeing/VAR decisions during this season,
          Shankland's goal stood. A rebound from a saved penalty and it's 0–2. First
          win at Ibrox since 2014, and the lead is maintained over Celtic. A statement
          victory over Falkirk followed. Three great goals and a wonderful team performance
          had the media asking the obvious question — could we sustain it? My answer
          — as it was for almost all of the rest of the season — was no. A constant
          footballing pessimist, I've seen too many football disappointments to get
          carried away in September.
        </p>

        <p>
          <strong>October</strong> started nervously with a difficult game at Tynecastle
          against Hibs. They were the better team and deserved at least a point. But
          Halkett stepped up and headed home the criminally underused (in my opinion)
          Kerjota cross. I don't have enough words to tell you how much I rate Halkett,
          and the fact he wasn't even considered for any of Clarke's squads is an
          embarrassment. How Hanley is anywhere near that squad while Halkett is still
          capless is something nobody will ever be able to explain to me. A walk in
          the park at Rugby Park preceded our second victory over the Old Firm so
          far that year. A commanding performance over a team bereft of confidence
          sent us eight points clear, and Brendan Rodgers walked away for a second
          time. Next came a trip to Paisley against a St Mirren team playing their
          best football of the season. A 2–2 draw sounds crap after two Old Firm wins
          and a derby victory, but they were playing well and really tough to beat
          — classic Stephen Robinson football. We came from behind twice and, honestly,
          a draw was fair.
        </p>

        <p>
          A convincing four goals without reply against Dundee at the start of <strong
            >November</strong
          > completed the first quarter with us nine points ahead of Celtic. It was
          around this time twenty years ago that it all went wrong, but without Mad
          Vlad to ruin things, I felt confident this could last. Not "win the league"
          confident — but "Europa League, beat the Hibees" confident. And that was
          enough for me.
        </p>

        <p>
          However, it started to go a wee bit awry here. Dominant against United
          at home, but only a point. Defeat to Aberdeen (always a difficult game
          in my household) despite being the better team. A nil nil draw away to
          Motherwell - although it could be said that was a good point
          considering Motherwell were the much better side. Three damaging
          scores, that had the pundits questioning whether we had it in us to go
          all the way. Forunately the old firm were also struggling so the 9
          point lead after the Dundee game was only reduced to 5, but the
          confidence had definitely taken a bit of a battering. We knew that
          next month was gonna be tough - both the old firm and Hibs away.
          Things were getting tense.
        </p>

        <p>
          <strong>December</strong> looked like it was going to start OK. A more controlled
          first half against Killie, followed by a 49th minute opener. Things were
          getting back on track. Or so we thought. We just couldn't get that second
          goal and paid the price when the equalised in the last minute. Doing to
          us what we had done to everyone else all season. Gutted. Celtic Park in
          4 days looked like a very tricky prospect. But this was Wilfried Nancy's
          debut - and we all remember how entertaining that time was. Shocking defending
          allowed a Braga goal to stand,and a great header from distance from McEntee
          gave us a deserved 2-1 victory and we were three points clear. Victory over
          Falkirk while Celtic were losing the didy cup allowed us to six points clear.
          A fourth old firm victory followed - 2-1 at home to Rangers kept us six
          ahead of Celtic while Rangers, under Danny Rohl were 12 back. What a position
          to be in - Merry Christmas everyone!
        </p>

        <p>
          Obviously, Hibs felt the need to ruin the festive cheer. Three up just
          after half time, we were a shadow of our former selves before
          something changed. Shanks pulled one back in the 75th minute. Cammy
          made it 3-2 with just a couple of minutes and injury time. But the
          Hibs goalkeeper denied us too may times for us to pull off our second
          three goal comeback of the season. Obviously gutted, but as my pal
          Calum said "It's 2026 and we're still top of the league."
        </p>
      </article>
    </section>

    <section id="the-future" class="match-section">
      <article class="panel" style="line-height:1.7">
        <div class="section-heading">
          <span>The Future</span>
        </div>
        <p>
          And then comes the dangerous bit: hope. Because supporting Hearts
          teaches you never to get carried away, right up until the exact moment
          you get completely carried away.
        </p>
      </article>
    </section>
    <script>
      const button = document.querySelector(".story-disclaimer");
      const panel = document.querySelector(".story-panel");

      button?.addEventListener("click", () => {
        const isOpen = panel?.classList.toggle("is-open");
        button.setAttribute("aria-expanded", isOpen ? "true" : "false");
      });
    </script>
  </main>
</BaseLayout>
